{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <!-- パンくずリスト -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tabelog:index' %}">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'tabelog:mypage' user.pk %}">マイページ</a></li>
            <li class="breadcrumb-item" aria-current="page">予約一覧</li>
        </ol>
    </nav>

    <!-- 予約一覧テーブル -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">店舗名</th>
                    <th scope="col">予約日時</th>
                    <th scope="col">人数</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.store.name }}</td>
                        <td>{{ reservation.reserved_date|date:"Y年n月j日" }} {{ reservation.reserved_time|time:"H時i分" }}</td>
                        <td>{{ reservation.number_of_people }}名</td>
                        <td>
                            <a href="{% url 'tabelog:update_reservation' reservation.pk %}" class="btn btn-primary btn">変更</a>
                        </td>
                        <td>
                            <form method="post" action="{% url 'tabelog:cancel_reservation' reservation.pk %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn" onclick="return confirm('キャンセルしてよいですか？')">キャンセル</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- ページネーションリンクの追加 -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% for post in post_reserve %}
             <p>{{ post.title }}</p>
            {% endfor %}

        <!-- 前へ の部分 -->
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
            {% endif %}

        <!-- 1/3 の部分 -->
            {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}

           <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">次へ</a>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}
