{% extends 'base.html' %}
{% block content %}

    <div class="d-flex flex-column min-vh-100">
        <div class="container mt-4 mb-auto">

            <!-- パンくずリスト -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'tabelog:index' %}">ホーム</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'tabelog:mypage' user.pk %}">マイページ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">会員情報編集</li>
                </ol>
            </nav>

            <!-- 会員情報編集 -->
            <div class="text-center mb-4">
                <h2>会員情報編集</h2>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row">氏名</th>
                                <td>{{ form.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">フリガナ</th>
                                <td>{{ form.furigana }}</td>
                            </tr>
                            <tr>
                                <th scope="row">メールアドレス</th>
                                <td>{{ form.mail_address }}</td>
                            </tr>
                            <tr>
                                <th scope="row">郵便番号</th>
                                <td>{{ form.postal_code }}</td>
                            </tr>
                            <tr>
                                <th scope="row">住所</th>
                                <td>{{ form.address }}</td>
                            </tr>
                            <tr>
                                <th scope="row">電話番号</th>
                                <td>{{ form.phone_number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger">更新</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
